:root {
    --body-color: #F0F2F5;
    --sidebar-color1: #4F4F4F;
    --sidebar-color2: #2b2b2b;
    --selection-color: #6b6b6b;
    --tap-color: #005ED0;
    --base-color1: #63B967;
    --base-color2: #47A34B;
}

body {
    font-family: sans-serif;
    background-color: #F0F2F5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
body div img {
    height: 70px;
    padding-bottom: 1em;
}
.login{
    
    padding: 1.5rem;
}
.login a {
    color: #ffffff;
    text-decoration: none;
}
.signup-container {
    background-color: #ffffff;
    padding: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 10px;
    background-image:
        linear-gradient(20deg, rgb(32, 32, 37) 30%, rgb(62, 62, 71));
    box-shadow: 0 0 20px #ffffff;
    backdrop-filter: blur(10px);
    text-align: center;
    width: 30em;
}
.signup-container .back-button {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    font-size: 1.5rem;
    color: #ffffff;
    /* background-color: rgba(0, 0, 0, 0.4); */
    padding: 0.4rem 0.7rem;
    border-radius: 17%;
    text-decoration: none;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.signup-container .back-button:hover {
    background-color: rgba(28, 28, 28, 0.6);
}

.signup-container h2 {
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.form-row {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}
.signup-container label {
    padding-bottom: 0.4em;
    color: #ffffff;
}
.signup-container input,
.signup-container select {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid var(--selection-color);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff80;
    color: #000000;
}

.signup-container button {
    background-color: var(--tap-color);
    color: #ffffff;
    padding: 0.75rem ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2em;
    width: 35em;
    
}

.signup-container button:hover {
    background-color: var(--base-color2);
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
    text-align: left;
}

@media (max-width: 768px) {
    .signup-container {
        width: 18em;
        padding: 1.5rem;
        padding-top: 2em;
    }

    body div img {
        height: 70px;
    }
    .form-row {
        flex-direction: column;
    }

    .form-group {
        padding: 0.3em;
    }

    .signup-container h2 {
        font-size: 1.5rem;
    }

    .signup-container input,
    .signup-container select {
        padding: 0.65rem;
    }

    .signup-container button {
        padding: 0.65rem 1rem;
        width: 20.8em;
    }

    .login {
        padding: 1rem 0;
    }
}