:root {
    --body-color: #F0F2F5;
    --sidebar-color1: #4F4F4F;
    --sidebar-color2: #2b2b2b;
    --selection-color: #6b6b6b;
    --tap-color: #005ED0;
    --base-color1: #63B967;
    --base-color2: #47A34B;
}

body {
    font-family: sans-serif;
    background: linear-gradient(45deg, #47A34B, #005ED0, #63B967, #2b2b2b);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 1rem;
}

.login a{
    color: #ffffff;
    text-decoration: none;

}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.signup-container {
    background-color: #ffffff33;
    padding: 2rem;
    border-radius: 10px;
    border: solid 0.3px #ffffff;
    box-shadow: 0 0 20px #0000001a;
    backdrop-filter: blur(10px);
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.signup-container h2 {
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.form-row {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.signup-container input,
.signup-container select {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid var(--selection-color);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff80;
    color: #000000;
}

.signup-container button {
    background-color: var(--tap-color);
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.signup-container button:hover {
    background-color: var(--base-color2);
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
    text-align: left;
}

/* Responsive Design */
@media (max-width: 600px) {
    .form-row {
        flex-direction: column;
    }
}
